<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="RetryFailedTests" verbose="1" >
        <listeners>
            <listener class-name="com.retry.test.AnnotationTransformer"/>
        </listeners>
        <test name="RetryMulitple">
            <classes>
                <class name="com.account.controller.AccountControllerTest" />
                <class name="com.account.service.AccountServiceTest" />
            </classes>
        </test>
</suite>
